
.form{
    background-color: #ECD9BA;
    width: 40%;
    margin: 2rem auto;
    padding:  16px;
    box-shadow: 2px 7px 2px gray;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    font-family: "Century Gothic", Times, serif;;
    border: 2px solid black;
}

.nameLabel{
    margin-left: 10px;
    padding: 2px;
    font-weight:bolder;
}
.nameInputBox{
    margin-left: 10px;
    padding: 5px;
    

    
}
.postLabel{
    margin-left: 10px;
    padding: 2px;
    font-weight: bolder;
}
.postInputBox{
    margin-left: 10px;
    padding: 5px;
}
.button{
    margin-left: 15px;
    
    
}
.postTextArea{
    border: 2px solid black;
    border-radius: 7px;
}
.inputNameTextBox{
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 10px;
    height: 20px;
    padding: 4px;
}
.submitButton{
    margin-left: 20px;
    height: 25px;
    width: 70px;
    font-family: "Century Gothic", Times, serif;;;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 500;
} 