.wrap{
    background-color: #DEC19B;
    width: 60%;
    margin: 2rem auto;
    padding:  2rem 0;
    box-shadow: 2px 7px 2px gray;
    border-radius: 40px;
    font-family: "Century Gothic", Times, serif;
    border: 2px solid black;
   
}

.postFeed{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
}

.postName{
    background-color: beige;
    padding: 3px;
    border-radius: 7px;
    text-align: left;

}

.postText{
    font-weight: 500;
    background-color: #ebdcd8;
    border-radius: 7px;
    padding: 3px;
    margin: 6px auto;
    margin-left: 20px;
    font-size: 20px;
}

.likeButtonWrap{
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    
}
